.cartContainer {
    padding: 2rem;
    background-color: rgb(224, 224, 224);
    height: 100vh;
}

table, th, td {
    border: 1px solid rgb(134, 105, 160);
}

table {
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
}

th, td {
    padding: 5px 10px;
    text-align: center;
}

th {
    background-color: rgb(249, 238, 225);
}

td {
    background-color: rgb(213, 199, 199);
    height: 3.75rem;
}

td img {
    max-width: 5rem;
    max-height: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.qtyButtonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.qtyButtonGroup button {
    width: 1.5rem;
    height: 1.5rem;
}

.qtyButtonGroup input {
    max-width: 2rem;
}

.total {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    th, td {
        padding: 2px;
    }
}

@media (max-width: 500px) {
    .cartContainer {
        padding: 2rem 1rem;
       }
    th, td {
        max-width: 11.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .product {
        display: none;
    }
}

@media (max-width: 400px) {
   .cartContainer {
    padding: 2rem .5rem;
   }
   table {
    font-size: .75rem;
   }
   th, td {
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .qtyButtonGroup input {
        max-width: 1.5rem;
    }
}


