.itemCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    background-color: rgb(246, 238, 238);
    padding: 1rem;
    gap: .5rem;
}

.buttonGroup {
    display: flex;
    gap: 1rem;
}

img {
    width: 15rem;
}

