.nav {
    background-color: rgb(230, 250, 243);
    padding: 2rem;
    font-size: 2rem;
}

ul {
    position: relative;
    padding: 0 2rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.cartLi {
    position: absolute;
    right: 2rem;
}

.cart {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart img {
    flex: 0;
    height: 30px;
}

@media (max-width: 425px) {
    .nav {
        font-size: 1.5rem;
        padding: 1rem;
    }
    ul {
        gap: 1rem;
    }
    .cart {
        gap: .5rem;
    }
}

